<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/index.php" method="POST">

    <p>Event SignUp
        {if $logged_in === true}Username: {$_SESSION['username']} <a href='?page=logout'>Logout</a>
        {else}<a href="http://localhost:8000/?page=login">Login</a> <a href="http://localhost:8000/?page=register">Register</a>
        {/if}
    </p>
    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="date">Event Date:</label>
    <input type="date" name="date" required id="date">
    <br>

    <label for="desc">Event Description:</label>
    <textarea name="desc" rows="1" cols="30" required id="desc"></textarea>
    <br>

    <label for="maxpers">Maximum Number of People:</label>
    <input type="number" id="maxpers" name="maxpers" min="1" required>
    <br>

    <input type="submit" value="Submit" name="Event">

</form>


{foreach $events as $event}
    {var $buttonid = $event['id']}

    <p>Event Name: {$event['name']}</p>
    <p>Date: {$event['date']}</p>
    <p>Description: {$event['desc']}</p>
    <p>Joined/Max Participants: {$event['joined_pers']} / {$event['maxpers']}</p>

    {if $logged_in === true && $event['maxpers'] > $event['joined_pers']}
            <a href="?joinevent={$buttonid}">Join!</a>
    {/if}

    <br>
{/foreach}

</body>
</html>



