<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/index.php" method="POST">
    <p><a href="http://localhost:8000/index.php">Event SignUp</a> -> Event Details</p>
    <p>Event Name: {$event['name']}</p>
    <p>Date: {$event['date']}</p>
    <p>Description: {$event['description']}</p>

    {foreach $participants as $participant}
        {if $participant["username"] === $_SESSION["username"] && $participant["eventID"] === $event["eventID"]}
            {$joinedevent = true}
        {/if}
    {/foreach}
    <p>Joined/Max Participants: {count($participants)} / {$event['maxPeople']}</p>
    <p>Joined Users:<br>
            {foreach $participants[$event["eventID"]] as $username}
                {$username}<br>
            {/foreach}
        </p>
</form>

{foreach $participants[$event["eventID"]] as $user}
        {if $user === $_SESSION['username']}
            {var $joinedevent = true}
        {/if}
{/foreach}

{if $joinedevent === true}
        <a href="?leaveevent={$event["eventID"]}">Leave</a>
{else}
        <a href="?joinevent={$event["eventID"]}">Join!</a>
{/if}

</body>
</html>
