<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/index.php/?page=login" method="POST">

    {if $perror === true}
        <p style='color:red'>Wrong Password!</p>
    {/if}

    {if $eerror === true}
        <p style='color:red'> Email not Found!</p>
    {/if}
    {if $succregistration === true}
    <p style='color:green'> Registration successful, you can now Login!</p>
    {/if}
    <p><a href="http://localhost:8000/index.php">Event SignUp</a> -> Login</p>

    <label for="name">E-Mail:</label>
    <input type="text" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <input type="submit" value="Login" name="login">

</form>
</body>
</html>