<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/index.php/?page=register" method="POST">

    <p><a href="http://localhost:8000/index.php">Event SignUp</a> -> User Registration ->
        <a href="http://localhost:8000/?page=login">Login</a></p>
        {if $_SESSION['displayemailregistered'] === true}
        <p style ='color:red'>Email already registered</p>
        {/if}
        {if $_SESSION["displayusernameregistered"] === true}
        <p style ='color:red'>Username already registered</p>
        {/if}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <label for="email"> E - M a i l :</label>
    <input type="text" name="email" id="email" required>
    <br>

    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>
    <br>

    <input type="submit" value="Register" name="User">

</form>
</body>
</html>
